<section class="pt-10 pb-24">
  <!-- Category Header -->
  <header class="relative inline-flex items-center">
    <div class="rounded-full bg-link w-[5px] h-11"></div>
    <!-- Category Title -->
    <h5
      class="ml-2 font-nunito text-4xl sm:text-5xl font-bold text-primary-foreground dark:text-dark-primary-foreground"
    >
      {{title}}
    </h5>
    {{!-- Posts Count --}}
    {{#get
      "tags"
      limit="all"
      include="count.posts"
      filter="name:{{tag}}"
      as |tags|
    }}
      {{#foreach tags}}
        <span
          class="ml-3 font-extralight"
          id="category-info"
          data-tag="{{slug}}"
        >{{count.posts}}</span>
      {{/foreach}}
    {{/get}}
    <span class="ml-1 text-link">
      <span class="icon-chevron-right" aria-hidden="true"></span>
    </span>
  </header>
  <!-- Posts -->
  <div
    class="mt-12 grid xs:grid-cols-2 lg:!grid-cols-3 gap-[20px] xl:gap-10"
    id="posts-container"
  >
    <!-- Featured Posts -->
    <section
      class="xs:col-span-2 sm:rounded-2xl overflow-hidden shadow-article-shadow-normal hover:shadow-article-shadow-hover hover:translate-y-[-7px] transition-all transition-fix ease-default duration-200"
      id="featured-posts-container"
    >
      {{! prettier-ignore }}
      {{> common/featured-posts postsTag=tagSlug }}     
    </section>
    <!-- Non Featured Posts -->
    {{> common/non-featured-posts postsTag=tagSlug limit="10"}}
  </div>
  <!-- Load more posts button -->
  <section class="mt-12 sm:mt-20 flex justify-center">
    <button
      class="text-white font-semibold text-base py-2 px-[1.5625rem] outline-none border-none rounded-[0.3125rem] bg-primary-subtle transition-all ease-default duration-200 cursor-pointer button"
      id="load-more-button"
    >
      Xem thêm
    </button>
    <div class="loader hidden items-center relative w-[80px]" id="posts-loader">
      <div class="animate-loader-1 absolute left-[8px] w-[13px] h-[13px] rounded-half bg-primary-subtle dark:bg-dark-primary-subtle"></div>
      <div class="animate-loader-2 absolute left-[8px] w-[13px] h-[13px] rounded-half bg-primary-subtle dark:bg-dark-primary-subtle"></div>
      <div class="animate-loader-2 absolute left-[32px] w-[13px] h-[13px] rounded-half bg-primary-subtle dark:bg-dark-primary-subtle"></div>
      <div class="animate-loader-3 absolute left-[56px] w-[13px] h-[13px] rounded-half bg-primary-subtle dark:bg-dark-primary-subtle"></div>
    </div>
    <div class="hidden" id="post-card-template" aria-hidden="true">
      <article
        class="col-span-1 justify-self-stretch flex flex-col h-card-height mx-[20px] md:!mx-unset xs:odd:ml-0 xs:even:mr-0 rounded-2xl overflow-hidden text-titles dark:text-dark-titles border border-secondary-nav-hover dark:border-dark-secondary-border shadow-article-shadow-normal hover:shadow-article-shadow-hover dark:shadow-dark-article-shadow-normal dark:hover:shadow-dark-article-shadow-hover hover:translate-y-[-7px] transition-all transition-fix ease-default duration-200"
      >
        {{! Feature Image }}
        <a href="@url">
          <figure class="relative h-[13.75rem]">
            <span
              style="box-sizing:border-box;display:block;overflow:hidden;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0;position:absolute;top:0;left:0;bottom:0;right:0"
            ><img
                alt="@title"
                sizes="100vw"
                src="@image"
                decoding="async"
                class="transition-fix"
                style="position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%; object-fit: cover;"
              /></span>
          </figure>
        </a>
        <div
          class="flex flex-1 flex-col justify-between p-[20px] relative transition-fix"
        >
          <header class="order-1 font-semibold relative z-10">
            {{!  Post Tag }}
            <a href="@tagURL" class="relative z-10">
              <span class="text-link text-sm capitalize">
                @tagName
              </span>
            </a>
            <h4 class="mt-3 text-xl line-clamp-3">@title</h4>
            <a href="@url" class="absolute top-0 left-0 w-full h-full -z-1"></a>
          </header>
          <footer class="order-2">
            <time datetime="@time" class="text-sm sm:text-base">
              @ago
            </time>
          </footer>
          <a
            href="@url"
            class="absolute top-0 left-0 w-full h-full -z-1"
          ></a>
        </div>
      </article>
    </div>
  </section>
</section>