{{{html}}}
<section class="mt-10 px-5">
  <div class="kg-card kg-callout-card kg-callout-card-red">
    <div class="kg-callout-emoji">⚠️</div>
    <div class="kg-callout-text">
      <p class="bold mb-4">Xì tốp!!!</p>
      <div class="ml-[-40px] flex flex-col justify-center items-center">
        {{#has visibility="paid"}}
          <p class="font-semibold">Chỉ thành viên của Net Walker mới có thể tải
            được nội dung này.</p>
        {{/has}}
        {{#has visibility="members"}}
          <p class="font-semibold">Chỉ thành viên của Net Walker mới có thể tải
            được nội dung này.</p>
        {{/has}}
        {{#has visibility="filter"}}
          <p class="font-semibold">Chỉ thành viên của Net Walker mới có thể tải
            được nội dung này.</p>
        {{/has}}
        {{#if @member}}
          <a data-portal="account/plans">Nâng cấp VIP</a>
        {{else}}
          <ul class="flex !text-base !pl-0 !mt-8 !mb-4">
            <li class="!mb-0">
              <a
                class="no-underline text-white font-semibold text-base py-2 px-[1.5625rem] outline-none border-none rounded-[0.3125rem] bg-primary-subtle transition-all ease-default duration-200 cursor-pointer button"
                href="#/portal/signin"
                rel="nofollow ugc"
              >Đăng nhập</a>
            </li>
            <li class="ml-4 !mb-0">
              <a
                class="no-underline text-white font-semibold text-base py-2 px-[1.5625rem] outline-none border-none rounded-[0.3125rem] bg-primary-subtle transition-all ease-default duration-200 cursor-pointer button"
                href="#/portal/signup"
                rel="nofollow ugc"
              >Đăng kí</a>
            </li>
          </ul>
        {{/if}}
      </div>
    </div>
  </div>
</section>