{{{html}}}
<section class="mt-10 dark:text-dark-titles">
  <div class="kg-card kg-callout-card kg-callout-card-red">
    <div class="kg-callout-emoji">⚠️</div>
    <p class="kg-callout-title">Xì tốp!!!</p>
    <div class="kg-callout-text">
      <div class="flex flex-col justify-center items-center">
        {{#has visibility="paid"}}
          <p class="font-semibold">Chỉ thành viên của Net Walker mới có thể tải
            được nội dung này.</p>
        {{/has}}
        {{#has visibility="members"}}
          <p class="font-semibold">Chỉ thành viên của Net Walker mới có thể tải
            được nội dung này.</p>
        {{/has}}
        {{#has visibility="filter"}}
          <p class="font-semibold">Chỉ thành viên của Net Walker mới có thể tải
            được nội dung này.</p>
        {{/has}}
        {{#if @member}}
          <a data-portal="account/plans">Nâng cấp VIP</a>
        {{else}}
          <ul
            class="flex flex-col sm:flex-row items-center gap-4 !text-base !pl-0 !mb-4"
          >
            <li>
              <a
                class="!no-underline !text-white font-semibold text-base py-2 px-[1.5625rem] outline-none border-none rounded-[0.3125rem] bg-primary-subtle transition-all ease-default duration-200 cursor-pointer button"
                href="#/portal/signin"
                rel="nofollow ugc"
              >Đăng nhập</a>
            </li>
            <li>
              <a
                class="!no-underline !text-white font-semibold text-base py-2 px-[1.5625rem] outline-none border-none rounded-[0.3125rem] bg-primary-subtle transition-all ease-default duration-200 cursor-pointer button"
                href="#/portal/signup"
                rel="nofollow ugc"
              >Đăng kí</a>
            </li>
          </ul>
        {{/if}}
      </div>
    </div>
  </div>
</section>