<footer
  class="px-5 py-10 sm:py-20 lg:py-28 bg-footer-background dark:bg-dark-background"
>
  <div class="container mx-auto lg:px-10 sm:flex justify-between">
    <div class="sm:w-1/2">
      <div class="pb-4 sm:pb-7 border-b-2 border-link">
        <section
          class="flex items-center lg:mr-8 pb-[2px] font-nunito font-bold tracking-wider text-4xl dark:text-dark-titles"
        >
          <a href="/">
            <h1 class="logo-shadow">
              <span class="mr-[-1rem]">NET</span>
              <span
                class="text-link -rotate-90 inline-block relative font-extrabold text-4xl top-[-2px] left-4"
              >W</span>
              ALKER
            </h1>
          </a>
        </section>
      </div>
      <div
        class="sm:flex justify-between pt-8 text-lg font-semibold text-black dark:text-dark-titles"
      >
        <header class="sm:w-1/2 leading-relaxed">
          <h5>
            "Indie" blog nơi thường xuyên chia sẻ và cập nhật các nội dung thú
            vị có trên mạng Internet.
          </h5>
          <nav class="mt-4">
            <ul class="flex gap-4 text-base">
              <li class="hover:text-link transition-colors">
                <a
                  href="https://www.facebook.com/netwalkervn"
                  rel="external nofollow noopener"
                  title="Facebook"
                >
                  <span class="icon-facebook" aria-hidden="true"></span>
                </a>
              </li>
              <li class="hover:text-link transition-colors">
                <a
                  href="https://twitter.com/netwalkervn"
                  rel="external nofollow noopener"
                  title="Twitter"
                >
                  <span class="icon-twitter" aria-hidden="true"></span>
                </a>
              </li>
              <li class="hover:text-link transition-colors">
                <a
                  href="https://www.reddit.com/r/netwalkervn/"
                  rel="external nofollow noopener"
                  title="Reddit"
                >
                  <span class="icon-reddit" aria-hidden="true"></span>
                </a>
              </li>
            </ul>
          </nav>
        </header>
        <div class="flex flex-1 sm:justify-end sm:pl-5 mt-8 sm:mt-0">
          <ul class="flex flex-col sm:items-end" id="footer-primary-navigation">

          </ul>
        </div>
      </div>
    </div>
    <div class="sm:w-1/4 mt-10 sm:mt-0">
      <div class="pb-4 sm:pb-7 border-b-2 border-link">
        <div
          class="flex sm:justify-between cursor-pointer"
          id="footer-scroll-top"
        >
          <span class="text-4xl font-bold dark:text-dark-titles order-1 ml-5">
            <span class="sm:hidden lg:inline">is the</span>
            top.
          </span>
          <div class="rotate-45">
            <span
              class="icon-arrow-top text-3xl dark:text-dark-titles order-1"
              aria-hidden="true"
            ></span>
          </div>
        </div>
      </div>
      <div
        class="pt-8 text-lg font-semibold text-black dark:text-dark-titles tracking-wider"
      >
        <ul class="flex flex-col sm:items-end" id="footer-secondary-navigation">

        </ul>
      </div>
    </div>

  </div>
</footer>