<footer class="m-footer">
  <div class="l-wrapper">
    <header class="m-footer__header">
      <h2 class="m-footer__logo">
        <a href="{{@site.url}}">
          {{@site.title}}
        </a>
      </h2>
    </header>
    <div class="m-footer__content">
      <ul class="m-footer__nav-list" role="menu">
        {{navigation}}
      </ul>
      <ul class="m-footer__nav-list" role="menu">
        {{navigation type="secondary"}}
      </ul>
    </div>
  </div>
</footer>