<div class="relative h-header-height-mobile sm:h-header-height">
  <!-- Desktop Header -->
  <header
    class="fixed top-0 left-0 z-header w-full h-header-height-mobile sm:h-header-height bg-background dark:bg-dark-background text-titles dark:text-dark-titles will-change-transform transition-all shadow-header dark:shadow-header-dark translate-y-0 duration-300 ease-header"
    id="page-header"
  >
    <div
      class="container mx-auto lg:px-10 px-4 md:px-0 h-full flex justify-between items-stretch"
    >
      <!-- Left Menu -->
      <div class="hidden lg:flex items-stretch">
        <!-- Logo -->
        <section
          class="flex items-center lg:mr-8 pb-[2px] font-nunito font-bold tracking-wider text-xl"
        >
          <a href="/">
            <h1 class="logo-shadow">
              <span class="mr-[-0.2rem]">NET </span>
              <span
                class="text-link -rotate-90 inline-block relative font-extrabold text-2xl left-1"
              >
                W
              </span>
              <span class="">ALKER </span>
            </h1>
          </a>
        </section>
        <!-- Navigation -->
        <ul class="flex items-stretch">
          {{#if @site.navigation}}
            {{navigation}}
          {{/if}}
          {{#if @site.secondary_navigation}}
            {{navigation type="secondary"}}
          {{/if}}
        </ul>
      </div>
      <!-- Right Menu -->
      <div class="hidden lg:flex items-center flex-row-reverse">
        <!-- Toggle Theme Button -->
        <div tabIndex="0" class="ml-5" id="theme-control">
          <span
            class="flex items-center justify-center w-7 h-7 rounded-half overflow-hidden bg-toggle-darkmode-background cursor-pointer"
          >
            <span class="icon-sunny hidden" aria-hidden="true"></span>
            <span class="icon-moon" aria-hidden="true"></span>
          </span>
        </div>
        <!-- Search Button -->
        <button
          class="flex items-center justify-center w-8 h-8 ml-7 text-lg cursor-pointer"
          aria-label="Tìm kiếm"
          id="search-button"
        >
          <span class="icon-search" aria-hidden="true"></span>
        </button>
        <!-- Sign in/ Sign up -->
        <ul class="flex text-xl sm:font-bold">
          {{#if @member}}
            <li>
              <a href="#/portal/account" rel="nofollow ugc">Tài khoản</a>
            </li>
          {{else}}
            <li>
              <a href="#/portal/signin" rel="nofollow ugc">Đăng nhập</a>
            </li>
          {{/if}}
        </ul>
      </div>
      <!-- Hamburger Icon -->
      <div
        class="w-5 flex items-center justify-center lg:hidden"
        id="hamburger-button"
      >
        <span
          class="icon-menu text-titles dark:text-dark-titles text-lg"
          aria-hidden="true"
        ></span>
      </div>
      <!-- Mobile Logo -->
      <section
        class="flex items-center mr-0 lg:mr-8 lg:hidden pb-[2px] font-nunito font-bold tracking-wider text-xl"
      >
        <a href="/">
          <h1 class="logo-shadow">
            <span class="mr-[-0.2rem]">NET </span>
            <span
              class="text-link -rotate-90 inline-block relative font-extrabold text-2xl left-1"
            >
              W
            </span>
            <span class="">ALKER </span>
          </h1>
        </a>
      </section>
      <!-- Search Button -->
      <button
        class="flex items-center justify-center w-8 h-8 text-lg cursor-pointer ml-0 self-center lg:hidden"
        aria-label="Tìm kiếm"
        id="search-button-mobile"
      >
        <span class="icon-search" aria-hidden="true"></span>
      </button>
    </div>
  </header>
  <!-- Fake header for intersection observer -->
  <div
    class="w-full h-header-height-mobile sm:h-header-height absolute top-0 bg-transparent"
    id="fake-header"
  ></div>
  <!-- Dummy tailwind class holder -->
  <div class="translate-y-0 hidden" aria-hidden="true">
    <div class="-translate-y-header-height"></div>
  </div>
  <!-- Mobile Menu -->
  <div
    class="fixed top-0 left-0 w-full h-full lg:hidden bg-background dark:bg-dark-background text-titles dark:text-dark-titles flex flex-col items-stretch transition-all ease-in-out duration-300 -z-10 opacity-0 invisible"
    id="mobile-menu"
  >
    <header
      class="h-header-height-mobile px-4 md:px-0 flex justify-between items-center relative z-20 shadow-header dark:shadow-header-dark"
    >
      <!-- Close Menu -->
      <div class="relative top-[2px] left-1" id="close-mobile-menu-button">
        <span class="icon-close"></span>
      </div>
      <!-- Logo -->
      <section
        class="flex items-center lg:mr-8 pb-[2px] font-nunito font-bold tracking-wider text-xl"
      >
        <a href="/">
          <h1 class="logo-shadow">
            <span class="mr-[-0.2rem]">NET
            </span>
            <span
              class="text-link -rotate-90 inline-block relative font-extrabold text-2xl left-1"
            >W</span>
            <span class="">ALKER </span>
          </h1>
        </a>
      </section>
      <!-- Mobile Theme Control-->
      <div tabindex="0" id="mobile-theme-control">
        <div
          class="flex items-center justify-center w-7 h-7 rounded-half overflow-hidden bg-toggle-darkmode-background cursor-pointer"
        >
          <span class="icon-sunny hidden" aria-hidden="true"></span>
          <span class="icon-moon" aria-hidden="true"></span>
        </div>
      </div>
    </header>
    <nav class="relative flex-1 z-10">
      <!-- Navigation -->
      <ul
        class="absolute w-full h-full z-10 overflow-auto font-bold"
        id="mobile-navigation"
      >
        {{>mobile-menu/menu-item href="/" title="Trang chủ"}}
        {{#if @member}}
          {{>mobile-menu/menu-item href="#/portal/account" rel="nofollow ugc" title="Tài khoản"}}
        {{else}}
          {{>mobile-menu/menu-item href="#/portal/signin" rel="nofollow ugc" title="Đăng nhập"}}
        {{/if}}

      </ul>
      <!-- Category Menu -->
      <div
        class="absolute z-20 w-full h-full bg-background dark:bg-dark-background transition-all transition-fix ease-default duration-200 text-titles dark:text-dark-titles opacity-0 invisible"
        id="mobile-category-menu"
      >
        <!-- Back Button -->
        <div
          class="px-5 py-3 flex items-center border-b dark:border-0 bg-purple-100 dark:bg-gray-900"
          id="mobile-category-menu-back-button"
        >
          <span class="icon-arrow-left text-xs" aria-hidden="true"></span>
          <span class="text-lg font-semibold ml-2 transition-fix">
            Quay lại
          </span>
        </div>
        <!-- Header -->
        <header
          class="px-5 py-3 flex justify-between items-center transition-fix"
          id="mobile-category-menu-header"
        >

        </header>
        <div class="hidden" id="mobile-category-menu-header-template" aria-hidden="true">
          <a href="@url">
            <h5 class="text-xl font-bold">@label</h5>
          </a>
          <a href="@url">
            <span class="text-lg underline">Xem tất cả</span>
          </a>
        </div>
        <!-- Sub Menu -->
        <div class="px-8 py-4" id="mobile-category-submenu">

        </div>
      </div>
    </nav>
  </div>
</div>