.l-post-content {
  .st-image {
    width: 100%;
    height: auto;
    aspect-ratio: attr(width) / attr(height);
    opacity: 0;
    visibility: hidden;

    &:not(:first-child) {
      margin-top: 20px;
    }

    &.visible {
      opacity: 1;
      visibility: visible;
    }

    &.medium-zoom-image {
      transition: all 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) !important;
    }
  }
}
