.l-post-content {
  .st-figure {
    width: 100%;
    position: relative;
    padding: 0;

    &:not(:first-child) {
      margin-top: 20px;
    }
  }

  .st-image {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;

    &.visible {
      opacity: 1;
    }

    &.medium-zoom-image {
      transition: opacity 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) !important;
    }
  }
}
