.paginationjs-pages {
  ul {
    list-style-type: none;
    display: flex;
  }

  .paginationjs-page {
    width: 30px;
    height: 30px;
    margin-left: 4px;
    margin-right: 4px;
    border-radius: 4px;
    border: 1px solid var(--primary-border-color);
    box-shadow: 0 0 1px 1px var(--button-shadow-color-normal);

    a {
      text-decoration: none;
      font-size: 1rem;
      text-shadow: 1px 1px 1px var(--button-shadow-color-normal);
      display: block;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &.active {
      background-color: var(--primary-subtle-color);
      border-color: var(--primary-subtle-color);

      a {
        color: var(--secondary-subtle-color);
        text-shadow: 1px 1px 1px var(--button-shadow-color-normal);
      }
    }

    &:hover {
      box-shadow: 0 0 2px 2px var(--button-shadow-color-hover);
    }
  }
}
