{{!--
This template is used for the tags page.
You must first create a page called Tags in the dashboard to enable it.
--}}

{{!-- This block preloads specific assets for the tags page --}}
{{#contentFor "preload"}}
  <link rel="preload" href="{{asset "css/contact.css"}}" as="style" />
{{/contentFor}}

{{!-- This block loads specific styles for the tags page --}}
{{#contentFor "styles"}}
  <link rel="stylesheet" type="text/css" href="{{asset "css/contact.css"}}" media="screen" />
{{/contentFor}}

{{!-- The tag below means: insert everything in this file
into the {body} of the default.hbs template --}}
{{!< default}}

{{!-- Special header.hbs partial to generate the <header> tag --}}
 {{> header }}


<main class="main-wrap">
  <div class="l-content">
    <div class="l-wrapper" data-aos="fade-up" data-aos-delay="300">
      <div class="m-contact">
        <div class="m-contact__left">
          <header class="m-contact__header">
            <h1 class="m-contact__title">Liên hệ</h1>
          </header>
          <form
            class="m-contact__form"
            action="https://getform.io/f/41a7e5dc-657f-4b30-9153-a406219c18fe"
            method="POST"
          >
            <label for="full-name">Họ tên</label>
            <input
              class="m-input"
              type="text"
              name="name"
              id="full-name"
              placeholder="Họ tên"
              required
            />
            <label for="email-address">Địa chỉ email</label>
            <input
              class="m-input"
              type="email"
              name="_replyto"
              id="email-address"
              placeholder="Địa chỉ email"
              required
            />
            <label for="message">Thông tin phản hồi</label>
            <textarea
              class="m-input"
              rows="5"
              name="message"
              id="message"
              placeholder="Ý kiến của bạn"              
              required
            ></textarea>
            <input class="m-button primary" type="submit" value="Gửi" />
          </form>
        </div>
        <div class="m-contact__right">
          <img src="{{asset "images/contact.svg"}}" alt="Contact"/>
        </div>
      </div>
    </div>
  </div>
</main>