{{! The tag below means: insert everything in this file
into the {body} of the default.hbs template }}
{{!< default}}
<div class="container mx-auto lg:px-10 relative">
  <div class="pt-4 pb-12 px-4 text-xl leading-relaxed md:leading-[1.8] mt-12">
    <div class="md:h-[20rem]">
      <img src="{{asset 'images/dmca.svg'}}" alt="dmca" class="max-h-full" />
    </div>
    <div>
      <h1 class="text-[2.5rem] text-center md:text-left font-bold mt-12 mb-3">
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">Chính sách DMCA</font>
        </font>
      </h1>
      <p class="text-md mb-6">
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">Tài liệu này được cập nhật lần
            cuối vào ngày 5 tháng 3 năm 2022</font>
        </font>
      </p>
      <p class="text-md mb-6">
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">Chính sách của Đạo luật Bản
            quyền Thiên niên kỷ Kỹ thuật số (“Chính sách”) này áp dụng cho trang
            web
          </font>
        </font><a
          class="text-link"
          target="_blank"
          rel="nofollow"
          href="https://netwalker.vn"
        >
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">netwalker.vn</font>
          </font>
        </a>
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">
            (“Trang web” hoặc “Dịch vụ”) và bất kỳ sản phẩm và dịch vụ nào có
            liên quan của nó (gọi chung là “Dịch vụ”) và phác thảo cách thức vận
            hành Trang web này (“ Nhà điều hành ”,“ chúng tôi ”,“ chúng tôi
            ”hoặc“ của chúng tôi ”) giải quyết các thông báo vi phạm bản quyền
            và cách bạn (“ bạn ”hoặc“ của bạn ”) có thể gửi đơn khiếu nại vi
            phạm bản quyền.</font>
        </font>
      </p>
      <p>
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">Việc bảo vệ quyền sở hữu trí
            tuệ là điều quan trọng hàng đầu đối với chúng tôi và chúng tôi yêu
            cầu người dùng cũng như các đại lý được ủy quyền của họ cũng làm như
            vậy.
          </font>
          <font style="vertical-align: inherit;">Chính sách của chúng tôi là
            nhanh chóng phản hồi các thông báo rõ ràng về vi phạm bản quyền bị
            cáo buộc tuân theo Đạo luật bản quyền kỹ thuật số thiên niên kỷ của
            Hoa Kỳ (“DMCA”) năm 1998, văn bản của đạo luật này có thể tìm thấy
            tại
          </font>
        </font><a
          class="text-link"
          target="_blank"
          href="https://www.copyright.gov"
          rel="noopener"
        >
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">trang web của</font>
          </font>
        </a>
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">
            Văn phòng Bản quyền Hoa Kỳ .
          </font>
        </font>
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;"> .</font>
        </font>
      </p>
      <h2 class="text-2xl my-3 font-bold">
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">Những điều cần cân nhắc trước
            khi gửi khiếu nại về bản quyền</font>
        </font>
      </h2>
      <p>
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">Trước khi gửi khiếu nại về bản
            quyền cho chúng tôi, hãy cân nhắc xem việc sử dụng có thể được coi
            là sử dụng hợp pháp hay không.
          </font>
          <font style="vertical-align: inherit;">Sử dụng hợp pháp quy định rằng
            các đoạn trích ngắn của tài liệu có bản quyền, trong một số trường
            hợp nhất định, có thể được trích dẫn nguyên văn cho các mục đích như
            phê bình, báo cáo tin tức, giảng dạy và nghiên cứu mà không cần sự
            cho phép hoặc thanh toán cho chủ bản quyền.
          </font>
          <font style="vertical-align: inherit;">Nếu bạn đã coi là sử dụng hợp
            pháp và vẫn muốn tiếp tục khiếu nại về bản quyền, trước tiên bạn có
            thể muốn liên hệ với người dùng được đề cập để xem liệu bạn có thể
            giải quyết vấn đề trực tiếp với người dùng đó hay không.</font>
        </font>
      </p>
      <p>
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">Xin lưu ý rằng nếu bạn không
            chắc liệu tài liệu bạn đang báo cáo có thực sự vi phạm hay không,
            bạn có thể liên hệ với luật sư trước khi gửi thông báo cho chúng
            tôi.</font>
        </font>
      </p>
      <p>
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">DMCA yêu cầu bạn cung cấp thông
            tin cá nhân của mình trong thông báo vi phạm bản quyền.
          </font>
          <font style="vertical-align: inherit;">Nếu bạn lo lắng về tính riêng
            tư của thông tin cá nhân của mình, bạn có thể muốn
          </font>
        </font><a
          target="_blank"
          href="https://www.copyrighted.com/professional-takedowns"
          rel="noopener"
          class="text-link"
        >
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">thuê một người đại diện</font>
          </font>
        </a>
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">
            để báo cáo tài liệu vi phạm cho bạn.</font>
        </font>
      </p>
      <h2 class="text-2xl my-3 font-bold">
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">Thông báo vi phạm</font>
        </font>
      </h2>
      <p>
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">Nếu bạn là chủ sở hữu bản quyền
            hoặc đại lý của họ và bạn tin rằng bất kỳ tài liệu nào có sẵn trên
            Dịch vụ của chúng tôi đều vi phạm bản quyền của bạn, thì bạn có thể
            gửi thông báo vi phạm bản quyền bằng văn bản (“Thông báo”) bằng cách
            sử dụng các chi tiết liên hệ bên dưới theo DMCA.
          </font>
          <font style="vertical-align: inherit;">Tất cả các Thông báo đó phải
            tuân thủ các yêu cầu của DMCA.
          </font>
          <font style="vertical-align: inherit;">Bạn có thể tham khảo trình tạo
          </font>
        </font><a
          target="_blank"
          href="https://www.websitepolicies.com/create/dmca-takedown-notice"
          rel="noopener"
        >
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">thông báo gỡ xuống theo DMCA</font>
          </font>
        </a>
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">
            hoặc các dịch vụ tương tự khác để tránh mắc lỗi và đảm bảo việc tuân
            thủ Thông báo của bạn.</font>
        </font>
      </p>
      <p>
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">Nộp đơn khiếu nại DMCA là bước
            khởi đầu của quy trình pháp lý được xác định trước.
          </font>
          <font style="vertical-align: inherit;">Khiếu nại của bạn sẽ được xem
            xét về tính chính xác, hợp lệ và đầy đủ.
          </font>
          <font style="vertical-align: inherit;">Nếu đơn khiếu nại của bạn đáp
            ứng các yêu cầu này, phản hồi của chúng tôi có thể bao gồm việc xóa
            hoặc hạn chế quyền truy cập vào tài liệu bị cáo buộc vi phạm cũng
            như chấm dứt vĩnh viễn tài khoản của những người tái vi phạm.
          </font>
          <font style="vertical-align: inherit;">Chúng tôi cũng có thể yêu cầu
            lệnh tòa từ một tòa án có thẩm quyền, do chúng tôi quyết định theo
            quyết định riêng của chúng tôi, trước khi chúng tôi thực hiện bất kỳ
            hành động nào.</font>
        </font>
      </p>
      <p>
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">Nếu chúng tôi xóa hoặc hạn chế
            quyền truy cập vào tài liệu hoặc chấm dứt tài khoản theo Thông báo
            về vi phạm bị cáo buộc, chúng tôi sẽ cố gắng liên hệ với người dùng
            bị ảnh hưởng về thông tin liên quan đến việc xóa hoặc hạn chế quyền
            truy cập.</font>
        </font>
      </p>
      <p>
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">Bất kể điều gì trái ngược có
            trong bất kỳ phần nào của Chính sách này, Nhà điều hành có quyền
            không thực hiện hành động nào khi nhận được thông báo vi phạm bản
            quyền DMCA nếu không tuân thủ tất cả các yêu cầu của DMCA đối với
            các thông báo đó.</font>
        </font>
      </p>
      <p>
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">Quy trình được mô tả trong
            Chính sách này không giới hạn khả năng của chúng tôi trong việc theo
            đuổi bất kỳ biện pháp xử lý nào khác mà chúng tôi có thể có để giải
            quyết vi phạm bị nghi ngờ.</font>
        </font>
      </p>
      <h2 class="text-2xl my-3 font-bold">
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">Các thay đổi và sửa đổi</font>
        </font>
      </h2>
      <p>
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">Chúng tôi có quyền sửa đổi
            Chính sách này hoặc các điều khoản của nó liên quan đến Trang web và
            Dịch vụ bất kỳ lúc nào theo quyết định của chúng tôi.
          </font>
          <font style="vertical-align: inherit;">Khi chúng tôi thực hiện, chúng
            tôi sẽ sửa lại ngày cập nhật ở cuối trang này.
          </font>
          <font style="vertical-align: inherit;">Chúng tôi cũng có thể cung cấp
            thông báo cho bạn theo những cách khác theo quyết định của chúng
            tôi, chẳng hạn như thông qua thông tin liên hệ mà bạn đã cung cấp.</font>
        </font>
      </p>
      <p>
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">Phiên bản cập nhật của Chính
            sách này sẽ có hiệu lực ngay sau khi đăng Chính sách sửa đổi trừ khi
            có quy định khác.
          </font>
          <font style="vertical-align: inherit;">Việc bạn tiếp tục sử dụng Trang
            web và Dịch vụ sau ngày Chính sách sửa đổi có hiệu lực (hoặc hành
            động khác được chỉ định tại thời điểm đó) sẽ cấu thành sự đồng ý của
            bạn đối với những thay đổi đó.</font>
        </font>
      </p>
      <h2 class="text-2xl my-3 font-bold">
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">Báo cáo vi phạm bản quyền</font>
        </font>
      </h2>
      <p>
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">Nếu bạn muốn thông báo cho
            chúng tôi về tài liệu hoặc hoạt động vi phạm, chúng tôi khuyến khích
            bạn liên hệ với chúng tôi bằng các chi tiết bên dưới:</font>
        </font>
      </p>
      <p><a
          class="text-link"
          target="_blank"
          rel="nofollow"
          href="https://netwalker.vn/contact"
        >
          <font style="vertical-align: inherit;">
            <font
              style="vertical-align: inherit;"
            >https://netwalker.vn/contact/</font>
          </font>
        </a></p>
    </div>
  </div>
</div>