{{! The tag below means: insert everything in this file
into the {body} of the default.hbs template }}
{{!< default}}

<div
  class="container mx-auto lg:px-10 relative h-[calc(100vh)] -mt-header-height flex justify-center items-center"
>
  <div class="text-center">
    <h1 class="text-7xl md:text-[12rem] font-bold leading-none">404</h1>
    <p class="text-2xl font-semibold">{{t "Page not found"}}</p>
    <p class="text-md mt-3">
      {{t "Unfortunately the page you were looking for could not be found."}}
    </p>
    <div class="mt-10">
      <a href="{{@site.url}}" class="text-titles font-semibold border border-primary-foreground rounded-md py-3 px-6">{{t
        "Go to the home page"
      }}</a>
    </div>
  </div>
</div>