{{! The tag below means: insert everything in this file
into the {body} of the default.hbs template }}
{{!< default}}

<div class="container mx-auto lg:px-10 relative">
  <div class="pt-4 pb-12 px-4 text-xl leading-relaxed md:leading-[1.8] mt-12">
    <div class="md:h-[20rem]">
      <img src="{{asset 'images/terms.svg'}}" alt="terms" class="max-h-full" />
    </div>
    <div>
      <h1
        class="text-[2.5rem] text-center md:text-left font-bold mt-12 mb-3"
      ><font style="vertical-align: inherit;"><font
            style="vertical-align: inherit;"
          >Các điều khoản và điều kiện</font></font></h1>
      <p class="text-md mb-6"><font style="vertical-align: inherit;"><font
            style="vertical-align: inherit;"
          >Cập nhật lần cuối: ngày 05 tháng 3 năm 2022</font></font></p>
      <p class="text-md mb-6"><font style="vertical-align: inherit;"><font
            style="vertical-align: inherit;"
          >Vui lòng đọc kỹ các điều khoản và điều kiện này trước khi sử dụng
            Dịch vụ của Chúng tôi.</font></font></p>
      <h1 class="text-[2rem] my-3 font-bold"><font
          style="vertical-align: inherit;"
        ><font style="vertical-align: inherit;">Giải thích và Định nghĩa</font></font></h1>
      <h2 class="text-2xl my-3 font-bold"><font
          style="vertical-align: inherit;"
        ><font style="vertical-align: inherit;">Diễn dịch</font></font></h2>
      <p><font style="vertical-align: inherit;"><font
            style="vertical-align: inherit;"
          >Những từ có chữ cái đầu tiên được viết hoa có nghĩa được xác định
            trong các điều kiện sau.
          </font><font style="vertical-align: inherit;">Các định nghĩa sau đây
            sẽ có cùng ý nghĩa bất kể chúng xuất hiện ở số ít hay số nhiều.</font></font></p>
      <h2 class="text-2xl my-3 font-bold"><font
          style="vertical-align: inherit;"
        ><font style="vertical-align: inherit;">Định nghĩa</font></font></h2>
      <p><font style="vertical-align: inherit;"><font
            style="vertical-align: inherit;"
          >Vì mục đích của các Điều khoản và Điều kiện này:</font></font></p>
      <ul class="pl-12 mt-3">
        <li>
          <p><strong><font style="vertical-align: inherit;"><font
                  style="vertical-align: inherit;"
                >Đơn vị liên kết</font></font></strong><font
              style="vertical-align: inherit;"
            ><font style="vertical-align: inherit;">
                có nghĩa là một tổ chức kiểm soát, chịu sự kiểm soát của hoặc
                dưới sự kiểm soát chung của một bên, trong đó "quyền kiểm soát"
                có nghĩa là quyền sở hữu từ 50% trở lên cổ phần, lợi tức cổ phần
                hoặc chứng khoán khác được quyền bỏ phiếu bầu giám đốc hoặc cơ
                quan quản lý khác .</font></font></p>
        </li>
        <li>
          <p><strong><font style="vertical-align: inherit;"><font
                  style="vertical-align: inherit;"
                >Quốc gia</font></font></strong><font
              style="vertical-align: inherit;"
            ><font style="vertical-align: inherit;">
                đề cập đến: Việt Nam</font></font></p>
        </li>
        <li>
          <p><strong><font style="vertical-align: inherit;"><font
                  style="vertical-align: inherit;"
                >Công ty</font></font></strong><font
              style="vertical-align: inherit;"
            ><font style="vertical-align: inherit;">
                (được gọi là "Công ty", "Chúng tôi", "Chúng tôi" hoặc "Của chúng
                tôi" trong Thỏa thuận này) đề cập đến Net Walker.</font></font></p>
        </li>
        <li>
          <p><strong><font style="vertical-align: inherit;"><font
                  style="vertical-align: inherit;"
                >Thiết bị</font></font></strong><font
              style="vertical-align: inherit;"
            ><font style="vertical-align: inherit;">
                có nghĩa là bất kỳ thiết bị nào có thể truy cập Dịch vụ như máy
                tính, điện thoại di động hoặc máy tính bảng kỹ thuật số.</font></font></p>
        </li>
        <li>
          <p><strong><font style="vertical-align: inherit;"><font
                  style="vertical-align: inherit;"
                >Dịch vụ</font></font></strong><font
              style="vertical-align: inherit;"
            ><font style="vertical-align: inherit;">
                đề cập đến Trang web.</font></font></p>
        </li>
        <li>
          <p><strong><font style="vertical-align: inherit;"><font
                  style="vertical-align: inherit;"
                >Điều khoản và Điều kiện</font></font></strong><font
              style="vertical-align: inherit;"
            ><font style="vertical-align: inherit;">
                (còn được gọi là "Điều khoản") có nghĩa là các Điều khoản và
                Điều kiện này tạo thành toàn bộ thỏa thuận giữa Bạn và Công ty
                về việc sử dụng Dịch vụ.
              </font><font style="vertical-align: inherit;">Thỏa thuận Điều
                khoản và Điều kiện này đã được tạo với sự trợ giúp của
              </font></font><font style="vertical-align: inherit;"><font
                style="vertical-align: inherit;"
              > .</font></font></p>
        </li>
        <li>
          <p><strong><font style="vertical-align: inherit;"><font
                  style="vertical-align: inherit;"
                >Dịch vụ truyền thông xã hội của bên thứ ba</font></font></strong><font
              style="vertical-align: inherit;"
            ><font style="vertical-align: inherit;">
                có nghĩa là bất kỳ dịch vụ hoặc nội dung nào (bao gồm dữ liệu,
                thông tin, sản phẩm hoặc dịch vụ) do bên thứ ba cung cấp có thể
                được hiển thị, bao gồm hoặc cung cấp bởi Dịch vụ.</font></font></p>
        </li>
        <li>
          <p><strong><font style="vertical-align: inherit;"><font
                  style="vertical-align: inherit;"
                >Trang web</font></font></strong><font
              style="vertical-align: inherit;"
            ><font style="vertical-align: inherit;">
                đề cập đến Net Walker, có thể truy cập từ
              </font></font><a
              href="htttps://netwalker.vn"
              rel="external nofollow noopener"
              target="_blank"
              class="text-link"
            ><font style="vertical-align: inherit;"><font
                  style="vertical-align: inherit;"
                >https: //netwalker.vn</font></font></a></p>
        </li>
        <li>
          <p><strong><font style="vertical-align: inherit;"><font
                  style="vertical-align: inherit;"
                >Bạn</font></font></strong><font
              style="vertical-align: inherit;"
            ><font style="vertical-align: inherit;">
                có nghĩa là cá nhân truy cập hoặc sử dụng Dịch vụ, hoặc công ty
                hoặc pháp nhân khác thay mặt cho cá nhân đó đang truy cập hoặc
                sử dụng Dịch vụ, nếu có.</font></font></p>
        </li>
      </ul>
      <h1 class="text-[2rem] my-3 font-bold"><font
          style="vertical-align: inherit;"
        ><font style="vertical-align: inherit;">Nhìn nhận</font></font></h1>
      <p><font style="vertical-align: inherit;"><font
            style="vertical-align: inherit;"
          >Đây là các Điều khoản và Điều kiện điều chỉnh việc sử dụng Dịch vụ
            này và thỏa thuận hoạt động giữa Bạn và Công ty.
          </font><font style="vertical-align: inherit;">Các Điều khoản và Điều
            kiện này quy định các quyền và nghĩa vụ của tất cả người dùng liên
            quan đến việc sử dụng Dịch vụ.</font></font></p>
      <p><font style="vertical-align: inherit;"><font
            style="vertical-align: inherit;"
          >Quyền truy cập và sử dụng Dịch vụ của bạn tùy thuộc vào việc Bạn chấp
            nhận và tuân thủ các Điều khoản và Điều kiện này.
          </font><font style="vertical-align: inherit;">Các Điều khoản và Điều
            kiện này áp dụng cho tất cả khách truy cập, người dùng và những
            người khác truy cập hoặc sử dụng Dịch vụ.</font></font></p>
      <p><font style="vertical-align: inherit;"><font
            style="vertical-align: inherit;"
          >Bằng cách truy cập hoặc sử dụng Dịch vụ, bạn đồng ý bị ràng buộc bởi
            các Điều khoản và Điều kiện này.
          </font><font style="vertical-align: inherit;">Nếu Bạn không đồng ý với
            bất kỳ phần nào của Điều khoản và Điều kiện này thì Bạn không thể
            truy cập Dịch vụ.</font></font></p>
      <p><font style="vertical-align: inherit;"><font
            style="vertical-align: inherit;"
          >Bạn tuyên bố rằng bạn trên 18 tuổi. Công ty không cho phép những
            người dưới 18 tuổi sử dụng Dịch vụ.</font></font></p>
      <p><font style="vertical-align: inherit;"><font
            style="vertical-align: inherit;"
          >Việc bạn truy cập và sử dụng Dịch vụ cũng tùy thuộc vào việc Bạn chấp
            nhận và tuân thủ Chính sách quyền riêng tư của Công ty.
          </font><font style="vertical-align: inherit;">Chính sách Bảo mật của
            Chúng tôi mô tả các chính sách và thủ tục của Chúng tôi về việc thu
            thập, sử dụng và tiết lộ thông tin cá nhân của Bạn khi Bạn sử dụng
            Ứng dụng hoặc Trang web và cho Bạn biết về quyền riêng tư của Bạn và
            cách luật bảo vệ Bạn.
          </font><font style="vertical-align: inherit;">Vui lòng đọc kỹ Chính
            sách Bảo mật của Chúng tôi trước khi sử dụng Dịch vụ của Chúng tôi.</font></font></p>
      <h1 class="text-[2rem] my-3 font-bold"><font
          style="vertical-align: inherit;"
        ><font style="vertical-align: inherit;">Liên kết đến các trang web khác</font></font></h1>
      <p><font style="vertical-align: inherit;"><font
            style="vertical-align: inherit;"
          >Dịch vụ của chúng tôi có thể chứa các liên kết đến các trang web hoặc
            dịch vụ của bên thứ ba không thuộc sở hữu hoặc kiểm soát của Công
            ty.</font></font></p>
      <p><font style="vertical-align: inherit;"><font
            style="vertical-align: inherit;"
          >Công ty không có quyền kiểm soát và không chịu trách nhiệm đối với
            nội dung, chính sách bảo mật hoặc thông lệ của bất kỳ trang web hoặc
            dịch vụ nào của bên thứ ba.
          </font><font style="vertical-align: inherit;">Bạn cũng thừa nhận và
            đồng ý rằng Công ty sẽ không chịu trách nhiệm hoặc nghĩa vụ trực
            tiếp hoặc gián tiếp đối với bất kỳ thiệt hại hoặc mất mát nào gây ra
            hoặc bị cáo buộc là do hoặc liên quan đến việc sử dụng hoặc phụ
            thuộc vào bất kỳ nội dung, hàng hóa hoặc dịch vụ nào có sẵn trên
            hoặc thông qua bất kỳ trang web hoặc dịch vụ nào như vậy.</font></font></p>
      <p><font style="vertical-align: inherit;"><font
            style="vertical-align: inherit;"
          >Chúng tôi đặc biệt khuyên Bạn nên đọc các điều khoản và điều kiện và
            chính sách bảo mật của bất kỳ trang web hoặc dịch vụ của bên thứ ba
            nào mà Bạn truy cập.</font></font></p>
      <h1 class="text-[2rem] my-3 font-bold"><font
          style="vertical-align: inherit;"
        ><font style="vertical-align: inherit;">Chấm dứt</font></font></h1>
      <p><font style="vertical-align: inherit;"><font
            style="vertical-align: inherit;"
          >Chúng tôi có thể chấm dứt hoặc đình chỉ quyền truy cập của Bạn ngay
            lập tức, mà không cần thông báo trước hoặc chịu trách nhiệm pháp lý,
            vì bất kỳ lý do gì, bao gồm nhưng không giới hạn nếu Bạn vi phạm các
            Điều khoản và Điều kiện này.</font></font></p>
      <p><font style="vertical-align: inherit;"><font
            style="vertical-align: inherit;"
          >Sau khi chấm dứt, quyền sử dụng Dịch vụ của Bạn sẽ chấm dứt ngay lập
            tức.</font></font></p>
      <h1 class="text-[2rem] my-3 font-bold"><font
          style="vertical-align: inherit;"
        ><font style="vertical-align: inherit;">Trách nhiệm hữu hạn</font></font></h1>
      <p><font style="vertical-align: inherit;"><font
            style="vertical-align: inherit;"
          >Bất chấp mọi thiệt hại mà Bạn có thể phải chịu, toàn bộ trách nhiệm
            của Công ty và bất kỳ nhà cung cấp nào của Công ty theo bất kỳ điều
            khoản nào của Điều khoản này và biện pháp khắc phục độc quyền của
            Bạn cho tất cả những điều đã nói ở trên sẽ được giới hạn ở số tiền
            Bạn thực thanh toán qua Dịch vụ hoặc 100 USD nếu Bạn chưa mua bất kỳ
            thứ gì thông qua Dịch vụ.</font></font></p>
      <p><font style="vertical-align: inherit;"><font
            style="vertical-align: inherit;"
          >Trong phạm vi tối đa được luật hiện hành cho phép, trong mọi trường
            hợp, Công ty hoặc các nhà cung cấp của Công ty sẽ không chịu trách
            nhiệm pháp lý đối với bất kỳ thiệt hại đặc biệt, ngẫu nhiên, gián
            tiếp hoặc do hậu quả nào (bao gồm, nhưng không giới hạn, thiệt hại
            do mất lợi nhuận, mất dữ liệu hoặc thông tin khác, vì lý do gián
            đoạn kinh doanh, về thương tích cá nhân, mất quyền riêng tư phát
            sinh từ hoặc theo bất kỳ cách nào liên quan đến việc sử dụng hoặc
            không thể sử dụng Dịch vụ, phần mềm của bên thứ ba và / hoặc phần
            cứng của bên thứ ba được sử dụng với Dịch vụ, hoặc nếu không liên
            quan đến bất kỳ điều khoản nào của Điều khoản này), ngay cả khi Công
            ty hoặc bất kỳ nhà cung cấp nào đã được thông báo về khả năng xảy ra
            những thiệt hại đó và ngay cả khi biện pháp khắc phục không đạt được
            mục đích thiết yếu của nó.</font></font></p>
      <p><font style="vertical-align: inherit;"><font
            style="vertical-align: inherit;"
          >Một số tiểu bang không cho phép loại trừ các bảo đảm ngụ ý hoặc giới
            hạn trách nhiệm đối với các thiệt hại ngẫu nhiên hoặc do hậu quả, có
            nghĩa là một số giới hạn ở trên có thể không được áp dụng.
          </font><font style="vertical-align: inherit;">Ở những tiểu bang này,
            trách nhiệm pháp lý của mỗi bên sẽ được giới hạn ở mức độ lớn nhất
            được pháp luật cho phép.</font></font></p>
      <h1 class="text-[2rem] my-3 font-bold"><font
          style="vertical-align: inherit;"
        ><font style="vertical-align: inherit;">Tuyên bố từ chối trách nhiệm
            "NGUYÊN TRẠNG" và "CÓ SN"</font></font></h1>
      <p><font style="vertical-align: inherit;"><font
            style="vertical-align: inherit;"
          >Dịch vụ được cung cấp cho Bạn "NGUYÊN TRẠNG" và "HIỆN CÓ" và với tất
            cả các lỗi và khuyết tật mà không có bất kỳ hình thức bảo hành nào.
          </font><font style="vertical-align: inherit;">Trong phạm vi tối đa
            được phép theo luật hiện hành, Công ty, nhân danh chính mình và thay
            mặt cho các Chi nhánh của mình cũng như các nhà cấp phép và nhà cung
            cấp dịch vụ tương ứng của họ, từ chối rõ ràng tất cả các bảo đảm, dù
            rõ ràng, ngụ ý, theo luật định hay cách khác, đối với Dịch vụ, bao
            gồm tất cả các bảo đảm ngụ ý về khả năng bán được, sự phù hợp cho
            một mục đích cụ thể, quyền sở hữu và không vi phạm, và các bảo đảm
            có thể phát sinh trong quá trình giao dịch, quá trình thực hiện, sử
            dụng hoặc thực hành thương mại.
          </font><font style="vertical-align: inherit;">Không giới hạn những
            điều đã nói ở trên, Công ty không cung cấp bảo hành hoặc cam kết nào
            và không tuyên bố dưới bất kỳ hình thức nào rằng Dịch vụ sẽ đáp ứng
            các yêu cầu của Bạn, đạt được bất kỳ kết quả dự kiến ​​nào,</font></font></p>
      <p><font style="vertical-align: inherit;"><font
            style="vertical-align: inherit;"
          >Không giới hạn những điều đã nói ở trên, Công ty cũng như bất kỳ nhà
            cung cấp nào của công ty không đưa ra bất kỳ tuyên bố hoặc bảo đảm
            nào dưới bất kỳ hình thức nào, rõ ràng hay ngụ ý: (i) về hoạt động
            hoặc tính khả dụng của Dịch vụ, hoặc thông tin, nội dung và tài liệu
            hoặc sản phẩm bao gồm trên đó;
          </font><font style="vertical-align: inherit;">(ii) rằng Dịch vụ sẽ
            không bị gián đoạn hoặc không có lỗi;
          </font><font style="vertical-align: inherit;">(iii) về tính chính xác,
            độ tin cậy hoặc đơn vị tiền tệ của bất kỳ thông tin hoặc nội dung
            nào được cung cấp thông qua Dịch vụ;
          </font><font style="vertical-align: inherit;">hoặc (iv) rằng Dịch vụ,
            máy chủ, nội dung hoặc e-mail được gửi từ hoặc thay mặt Công ty
            không có vi-rút, tập lệnh, trojan, sâu, phần mềm độc hại, timebombs
            hoặc các thành phần có hại khác.</font></font></p>
      <p><font style="vertical-align: inherit;"><font
            style="vertical-align: inherit;"
          >Một số khu vực pháp lý không cho phép loại trừ một số loại bảo đảm
            hoặc giới hạn đối với các quyền theo luật định hiện hành của người
            tiêu dùng, vì vậy một số hoặc tất cả các loại trừ và giới hạn ở trên
            có thể không áp dụng cho Bạn.
          </font><font style="vertical-align: inherit;">Nhưng trong trường hợp
            như vậy, các loại trừ và giới hạn quy định trong phần này sẽ được áp
            dụng ở mức độ lớn nhất có thể thực thi được theo luật hiện hành.</font></font></p>
      <h1 class="text-[2rem] my-3 font-bold"><font
          style="vertical-align: inherit;"
        ><font style="vertical-align: inherit;">Luật chi phối</font></font></h1>
      <p><font style="vertical-align: inherit;"><font
            style="vertical-align: inherit;"
          >Luật pháp của Quốc gia, không bao gồm các quy tắc xung đột luật, sẽ
            điều chỉnh Điều khoản này và việc bạn sử dụng Dịch vụ.
          </font><font style="vertical-align: inherit;">Việc bạn sử dụng Ứng
            dụng cũng có thể tuân theo luật pháp địa phương, tiểu bang, quốc gia
            hoặc quốc tế khác.</font></font></p>
      <h1 class="text-[2rem] my-3 font-bold"><font
          style="vertical-align: inherit;"
        ><font style="vertical-align: inherit;">Giải quyết tranh chấp</font></font></h1>
      <p><font style="vertical-align: inherit;"><font
            style="vertical-align: inherit;"
          >Nếu Bạn có bất kỳ mối quan tâm hoặc tranh chấp nào về Dịch vụ, Bạn
            đồng ý trước tiên cố gắng giải quyết tranh chấp một cách không chính
            thức bằng cách liên hệ với Công ty.</font></font></p>
      <h1 class="text-[2rem] my-3 font-bold"><font
          style="vertical-align: inherit;"
        ><font style="vertical-align: inherit;">Dành cho người dùng ở Liên minh
            Châu Âu (EU)</font></font></h1>
      <p><font style="vertical-align: inherit;"><font
            style="vertical-align: inherit;"
          >Nếu Bạn là người tiêu dùng ở Liên minh Châu Âu, bạn sẽ được hưởng lợi
            từ mọi quy định bắt buộc của luật pháp của quốc gia mà bạn đang cư
            trú.</font></font></p>
      <h1 class="text-[2rem] my-3 font-bold"><font
          style="vertical-align: inherit;"
        ><font style="vertical-align: inherit;">Tuân thủ pháp luật Hoa Kỳ</font></font></h1>
      <p><font style="vertical-align: inherit;"><font
            style="vertical-align: inherit;"
          >Bạn tuyên bố và đảm bảo rằng (i) Bạn không sống ở quốc gia đang chịu
            lệnh cấm vận của chính phủ Hoa Kỳ hoặc đã được chính phủ Hoa Kỳ chỉ
            định là quốc gia "hỗ trợ khủng bố" và (ii) Bạn không được liệt kê
            trong bất kỳ danh sách các bên bị cấm hoặc hạn chế của chính phủ Hoa
            Kỳ.</font></font></p>
      <h1 class="text-[2rem] my-3 font-bold"><font
          style="vertical-align: inherit;"
        ><font style="vertical-align: inherit;">Hiệu lực từng phần và Từ bỏ</font></font></h1>
      <h2 class="text-2xl my-3 font-bold"><font
          style="vertical-align: inherit;"
        ><font style="vertical-align: inherit;">Tính hiệu lực từng phần</font></font></h2>
      <p><font style="vertical-align: inherit;"><font
            style="vertical-align: inherit;"
          >Nếu bất kỳ điều khoản nào trong các Điều khoản này được coi là không
            thể thực thi hoặc không hợp lệ, điều khoản đó sẽ được thay đổi và
            giải thích để hoàn thành mục tiêu của điều khoản đó ở mức độ cao
            nhất có thể theo luật hiện hành và các điều khoản còn lại sẽ tiếp
            tục có hiệu lực đầy đủ.</font></font></p>
      <h2 class="text-2xl my-3 font-bold"><font
          style="vertical-align: inherit;"
        ><font style="vertical-align: inherit;">Từ bỏ</font></font></h2>
      <p><font style="vertical-align: inherit;"><font
            style="vertical-align: inherit;"
          >Trừ khi được quy định ở đây, việc không thực hiện quyền hoặc yêu cầu
            thực hiện nghĩa vụ theo các Điều khoản này sẽ không ảnh hưởng đến
            khả năng của một bên trong việc thực hiện quyền đó hoặc yêu cầu thực
            hiện như vậy vào bất kỳ thời điểm nào sau đó cũng như việc từ bỏ vi
            phạm sẽ không đồng nghĩa với việc từ bỏ bất kỳ vi phạm nào tiếp
            theo.</font></font></p>
      <h1 class="text-[2rem] my-3 font-bold"><font
          style="vertical-align: inherit;"
        ><font style="vertical-align: inherit;">Phiên dịch</font></font></h1>
      <p><font style="vertical-align: inherit;"><font
            style="vertical-align: inherit;"
          >Các Điều khoản và Điều kiện này có thể đã được dịch nếu Chúng tôi
            cung cấp chúng cho Bạn trên Dịch vụ của chúng tôi.
          </font><font style="vertical-align: inherit;">Bạn đồng ý rằng văn bản
            gốc tiếng Anh sẽ được ưu tiên áp dụng trong trường hợp có tranh
            chấp.</font></font></p>
      <h1 class="text-[2rem] my-3 font-bold"><font
          style="vertical-align: inherit;"
        ><font style="vertical-align: inherit;">Các thay đổi đối với các Điều
            khoản và Điều kiện này</font></font></h1>
      <p><font style="vertical-align: inherit;"><font
            style="vertical-align: inherit;"
          >Chúng tôi bảo lưu quyền, theo quyết định riêng của Chúng tôi, sửa đổi
            hoặc thay thế các Điều khoản này bất kỳ lúc nào.
          </font><font style="vertical-align: inherit;">Nếu bản sửa đổi là tài
            liệu Chúng tôi sẽ nỗ lực hợp lý để cung cấp thông báo trước ít nhất
            30 ngày trước khi bất kỳ điều khoản mới nào có hiệu lực.
          </font><font style="vertical-align: inherit;">Điều gì tạo nên sự thay
            đổi quan trọng sẽ được xác định theo quyết định riêng của Chúng tôi.</font></font></p>
      <p><font style="vertical-align: inherit;"><font
            style="vertical-align: inherit;"
          >Bằng cách tiếp tục truy cập hoặc sử dụng Dịch vụ của Chúng tôi sau
            khi các sửa đổi đó có hiệu lực, Bạn đồng ý bị ràng buộc bởi các điều
            khoản sửa đổi.
          </font><font style="vertical-align: inherit;">Nếu Bạn không đồng ý với
            các điều khoản mới, toàn bộ hoặc một phần, vui lòng ngừng sử dụng
            trang web và Dịch vụ.</font></font></p>
      <h1 class="text-[2rem] my-3 font-bold"><font
          style="vertical-align: inherit;"
        ><font style="vertical-align: inherit;">Liên hệ chúng tôi</font></font></h1>
      <p><font style="vertical-align: inherit;"><font
            style="vertical-align: inherit;"
          >Nếu bạn có bất kỳ câu hỏi nào về các Điều khoản và Điều kiện này, Bạn
            có thể liên hệ với chúng tôi:</font></font></p>
      <ul class="pl-12 mt-3">
        <li>
          <p><font style="vertical-align: inherit;"><font
                style="vertical-align: inherit;"
              >Bằng cách truy cập trang này trên trang web của chúng tôi:
              </font></font><a
              href="https://netwalker.vn/contact/"
              rel="external nofollow noopener"
              target="_blank"
              class="text-link"
            ><font style="vertical-align: inherit;"><font
                  style="vertical-align: inherit;"
                >https://netwalker.vn/contact/</font></font></a></p>
        </li>
      </ul>
    </div>
  </div>
</div>