.m-logo {
  display: inline-block;
  height: rem(25px);

  img {
    width: auto;
    max-width: rem(150px);
    height: 100%;
    object-fit: contain;
  }

  &.in-mobile-topbar {
    height: rem(20px);
    margin: 0 $mobile-space;
  }
}
