.m-nav {
  @include respond-to("medium") {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    overflow-y: hidden;
  }

  @include respond-to("largest") {
    margin: 0 rem(-5px);
  }

  &.toggle-overflow {
    @include respond-to("medium") {
      overflow-y: initial;
    }
  }
}

.m-nav__left {
  margin-bottom: rem(30px);

  @include respond-to("medium") {
    display: flex;
    flex: 1 1 auto;
    height: 100%;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    padding-left: rem(5px);
    margin-bottom: 0;
    -webkit-overflow-scrolling: touch;
  }

  &.toggle-overflow {
    @include respond-to("medium") {
      overflow-x: hidden;
    }
  }

  ul:not(.m-secondary-menu) {
    padding: 0;
    margin: 0;

    @include respond-to("medium") {
      display: flex;
      height: 100%;
    }
  }

  li {
    color: var(--titles-color);
    letter-spacing: 0.3px;
    font-size: 1.125rem;
    margin-bottom: rem(15px);
    height: 100%;
    display: flex;
    align-items: center;

    @include respond-to("medium") {
      margin-bottom: 0;
      margin-right: 0.5rem;
      position: relative;

      &:not(:first-child) {
        padding: 0 1rem;
      }

      &:first-child {
        margin-right: 2rem;
      }
    }

    &:last-of-type {
      margin-bottom: 0;
    }

    &.nav-current {
      font-weight: 600;
    }

    a {
      color: inherit;
    }

    & > a {
      font-family: "Bungee", sans-serif;
    }

    &.more {
      a {
        display: inline-flex;
        align-items: center;

        @include respond-to("medium") {
          display: flex;
        }

        span {
          display: inline-block;
          color: inherit;
          font-size: 1rem;
          margin-left: rem(8px);
          @include transform(translateY(1px));
        }
      }
    }

    &.submenu-option {
      @include respond-to("medium") {
        z-index: 2;
      }
    }
  }
}

.m-nav__right {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  @include respond-to("medium") {
    flex-shrink: 0;
    position: relative;
    padding-left: rem(20px);
    padding-right: rem(5px);
  }

  li {
    color: var(--titles-color);
    letter-spacing: 0.3px;
    font-size: 1.125rem;

    & > a {
      font-family: "Bungee", sans-serif;
    }
  }

  ul {
    padding: 0;
    margin: 0;
    margin-right: rem(35px);

    @include respond-to("medium") {
      display: flex;
      align-items: center;
    }
  }

  &:before {
    @include respond-to("medium") {
      content: "";
      position: absolute;
      pointer-events: none;
      top: 0;
      left: rem(-20px);
      width: rem(20px);
      height: 100%;
      z-index: 2;
      background: linear-gradient(
        90deg,
        var(--header-menu-gradient-first-color) 0,
        var(--header-menu-gradient-second-color)
      );
    }
  }
}

.rtl {
  .m-nav__left {
    @include respond-to("medium") {
      padding-left: 0;
      padding-right: rem(5px);
    }

    li {
      @include respond-to("medium") {
        margin-right: 0;
        margin-left: rem(35px);
      }
    }
  }

  .m-nav__right {
    @include respond-to("medium") {
      padding-left: rem(5px);
      padding-right: rem(20px);
    }

    &:before {
      @include respond-to("medium") {
        left: auto;
        right: rem(-20px);
        @include transform(rotate(180deg));
      }
    }
  }
}
