<div class="l-section">
  <header class="l-section__header">
    <h4 class="l-section__title">{{title}}</h4>
  </header>
    <div class="l-grid" id="js-posts-container">
      {{> common/featured-slide}}
      {{!-- The tag below iterates over all the posts --}}
      {{> common/post-list limit="7"}}   
    </div>
    <div class="l-section__view-more">
      <div class="m-loader hide" id="js-loader"><div></div><div></div><div></div><div></div></div>
      <div class="m-button primary" id="js-load-more-btn">Xem thêm</div>
    </div>
</div>