<a href="{{url}}">
  <span
    class="flex items-center justify-center text-link text-sm font-semibold bg-alter-link dark:text-dark-link dark:bg-dark-primary-subtle py-[0.1rem] px-2 rounded"
  >{{name}}</span>
</a>