<section class="m-subscribe-section js-newsletter">
  <div class="l-wrapper in-post">
    <div class="m-subscribe-section__content">
      <div class="m-subscribe-section__text">
        <h4 class="m-subscribe-section__title">{{t "Đăng kí nhận bản tin tại Net Walker"}}</h4>
        <p class="m-subscribe-section__description">
          {{t "Để được nhận những điều thú vị ngay trong inbox của bạn."}}
        </p>
      </div>
      <div class="m-subscribe-section__form">
        {{> newsletter-form}}
      </div>
    </div>
  </div>
</section>