{{!-- The template below includes the markup for each post --}}

{{#get "posts" filter="featured:false+tag:{{slugifiedTag}}" include="authors,tags" limit=limit as |post|}}
  {{#if post}}
    {{#foreach post}}
      {{> common/post index=@index}}
    {{/foreach}}        
  {{else}}
    <div class="m-recommended-slider__item glide__slide">
      <div class="m-heading no-margin">
        <h3>{{t "No posts found"}}</h3>
        <p>
          {{t "Apparently there are no posts at the moment, check again later."}}
        </p>
      </div>
    </div>

  {{/if}}
{{/get}}


