<div class="relative">
  {{> ads/title}}
  <script
    async
    src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5487651308060862"
    crossorigin="anonymous"
  ></script>
  <ins
    class="adsbygoogle"
    style="display:inline-block;width:1200px;height:300px"
    data-ad-client="ca-pub-5487651308060862"
    data-ad-slot="1373531504"
  ></ins>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div>