<div class="hidden w-[160px] min-h-[600px] md:block md:sticky md:top-1/2 -translate-y-1/2 mt-12">
  {{> ads/title}}
  <script
    async
    src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5487651308060862"
    crossorigin="anonymous"
  ></script>
  <!-- Post vertical left side -->
  <ins
    class="adsbygoogle"
    style="display:inline-block;width:160px;height:600px"
    data-ad-client="ca-pub-5487651308060862"
    data-ad-slot="1785762334"
  ></ins>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div>