/** Mixins */
.m-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 1rem;
  flex-wrap: wrap-reverse;
  margin-top: 1rem;
}
@media only screen and (min-width: 48rem) {
  .m-contact {
    flex-wrap: nowrap;
    margin-top: 0;
  }
}
.m-contact img {
  max-width: 100%;
}
.m-contact__left {
  flex: 1;
}
.m-contact__left, .m-contact__right {
  padding: 1rem;
}
@media only screen and (min-width: 48rem) {
  .m-contact__left, .m-contact__right {
    flex: 0 0 40%;
  }
}
.m-contact__right {
  margin-left: 3rem;
}
.m-contact__title {
  font-size: 2.5rem;
}
.m-contact__form {
  margin-top: 3rem;
}
.m-contact__form label {
  font-size: 1.2rem;
  font-weight: 500;
}
.m-contact__form textarea {
  resize: none;
}
.m-contact__form .m-input {
  margin-top: 1rem;
  margin-bottom: 1rem;
}