.m-disclaimer {
  padding: 3rem 1rem;
}
.m-disclaimer__banner {
  height: 25rem;
}
.m-disclaimer__banner img {
  display: block;
  max-height: 100%;
}
.m-disclaimer__title {
  font-size: 2.5rem;
  margin-top: 3rem;
}
.m-disclaimer p,
.m-disclaimer li {
  line-height: 1.8;
  font-size: 1.2rem;
}
.m-disclaimer a {
  color: var(--link-color);
}
.m-disclaimer ul {
  list-style: none;
}