/** Mixins */
.m-info-page {
  padding: 3rem 1rem;
}
@media only screen and (min-width: 48rem) {
  .m-info-page__banner {
    height: 20rem;
  }
}
.m-info-page__banner img {
  display: block;
  max-height: 100%;
  max-width: 100%;
}
.m-info-page__title {
  font-size: 2.5rem;
  margin-top: 3rem;
}
.m-info-page p,
.m-info-page li {
  line-height: 1.8;
  font-size: 1.2rem;
}
.m-info-page a {
  color: var(--link-color);
}
.m-info-page ul {
  list-style: none;
}
