/** Mixins */
.l-grid {
  padding-bottom: 20px;
}
@media only screen and (min-width: 48rem) {
  .l-grid {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
  }
}
@media only screen and (min-width: 80rem) {
  .l-grid {
    margin: 0 -20px;
  }
}
@media only screen and (min-width: 48rem) {
  .l-grid.centered {
    justify-content: center;
  }
}

.m-infinite-scroll-container {
  display: flex;
  flex-wrap: wrap;
}

.m-loader {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.m-loader.hide {
  display: none;
}
.m-loader div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  -webkit-animation-timing-function: cubic-bezier(0, 1, 1, 0);
          animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.m-loader div:nth-child(1) {
  left: 8px;
  -webkit-animation: lds-ellipsis1 0.6s infinite;
          animation: lds-ellipsis1 0.6s infinite;
}
.m-loader div:nth-child(2) {
  left: 8px;
  -webkit-animation: lds-ellipsis2 0.6s infinite;
          animation: lds-ellipsis2 0.6s infinite;
}
.m-loader div:nth-child(3) {
  left: 32px;
  -webkit-animation: lds-ellipsis2 0.6s infinite;
          animation: lds-ellipsis2 0.6s infinite;
}
.m-loader div:nth-child(4) {
  left: 56px;
  -webkit-animation: lds-ellipsis3 0.6s infinite;
          animation: lds-ellipsis3 0.6s infinite;
}

@-webkit-keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@-webkit-keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
.m-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 2.5rem;
}

.m-pagination__text {
  display: inline-block;
  color: var(--titles-color);
  letter-spacing: 0.2px;
  text-align: center;
  font-size: 0.875rem;
}
@media only screen and (min-width: 48rem) {
  .m-pagination__text {
    letter-spacing: 0.3px;
    font-size: 1rem;
  }
}

.paginationjs-pages ul {
  list-style-type: none;
  display: flex;
  padding-left: 0;
}
.paginationjs-pages .paginationjs-page {
  width: 1.875rem;
  height: 1.875rem;
  margin: 0 0.25rem;
  border-radius: 0.25rem;
  border: 0.0625rem solid var(--primary-border-color);
  box-shadow: 0 0 0.0625rem 0.0625rem var(--button-shadow-color-normal);
}
.paginationjs-pages .paginationjs-page a {
  text-decoration: none;
  font-size: 1rem;
  text-shadow: 0.0625rem 0.0625rem 0.0625rem var(--button-shadow-color-normal);
  display: block;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.paginationjs-pages .paginationjs-page.active {
  background-color: var(--primary-subtle-color);
  border-color: var(--primary-subtle-color);
}
.paginationjs-pages .paginationjs-page.active a {
  color: var(--secondary-subtle-color);
  text-shadow: 0.0625rem 0.0625rem 0.0625rem var(--button-shadow-color-normal);
}
.paginationjs-pages .paginationjs-page:hover {
  box-shadow: 0 0 0.125rem 0.125rem var(--button-shadow-color-hover);
}

.post-pagination-container {
  margin-top: 1.25rem;
}