<div class="hidden md:flex justify-center mb-6 relative">
  {{> ads/title}}
  <script type="text/javascript">
    atOptions = { 'key' : '37bd3e9f28c0d7e0b6e6db9bc25aae01', 'format' :
    'iframe', 'height' : 90, 'width' : 728, 'params' : {} };
    document.write('<scr' + 'ipt type="text/javascript" src="http' +
    (location.protocol === 'https:' ? 's' : '') +
    '://persistarcticthese.com/37bd3e9f28c0d7e0b6e6db9bc25aae01/invoke.js"></scr'
    + 'ipt>');
  </script>
</div>