<div class="hidden md:block md:sticky md:top-1/2 -translate-y-1/2 mt-12 min-h-[600px]">
  {{> ads/title}}
  {{! Ads }}
  <script type="text/javascript">
    atOptions = { 'key' : '61c49c1c9f50559a70788108d30d600a', 'format' :
    'iframe', 'height' : 600, 'width' : 160, 'params' : {} };
    document.write('<scr' + 'ipt type="text/javascript" src="http' +
    (location.protocol === 'https:' ? 's' : '') +
    '://www.effectivedisplaycontent.com/61c49c1c9f50559a70788108d30d600a/invoke.js"></scr'
    + 'ipt>');
  </script>
</div>