.l-post-content {
  .m-heading__meta {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &-tag-list {
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      margin-bottom: 0;
      padding-left: 0;
    }

    &-tag-item {
      margin-bottom: 0 !important;

      &:not(:first-of-type) {
        margin-left: 0.5rem;
      }
    }

    &-tag-link,
    &-time {
      color: var(--link-color) !important;
      letter-spacing: 0.2px;
      font-size: 0.875rem;
      font-weight: 600;
    }

    &-tag-link {
      text-decoration: none !important;
      display: inline-flex;
      align-items: center;
      padding: 0.1rem 0.25rem;
      background-color: var(--alter-link-color);
      border-radius: 4px;
    }

    &-time {
      margin-top: 1rem;
    }

    &-tag-desc {
      font-size: 0.8rem;
      margin-right: 0.2rem;
    }
  }
}
