.m-footer {
  flex-shrink: 0;
  font-family: "Bungee", sans-serif;
  color: $white;
  background-color: var(--footer-background-color);
  padding: 3rem 0;

  ul {
    list-style-type: none;
  }

  &__content {
    margin-top: 6rem;
  }

  &__logo {
    font-weight: 700;
    letter-spacing: 0.3px;
    font-size: 4rem;
    margin: 0;
    text-align: center;

    &:hover {
      text-shadow: 0 0 4px rgba(255, 255, 255, 0.6);
    }
  }

  &__nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0;
    margin: 0;

    &:not(:first-child) {
      margin-top: 2rem;
    }

    & > li[class^="nav"] {
      :hover {
        text-shadow: 0 0 4px rgba(255, 255, 255, 0.6);
      }

      &:not(:first-child) {
        margin-left: 2rem;
      }
    }
  }
}
