.l-section {
  margin-top: 2.5rem;

  &__header {
    margin-bottom: 4rem;
    padding-right: rem(10px);

    @include respond-to("medium") {
      margin-bottom: 2rem;
    }
  }

  &__title {
    font-family: "Paytone One", sans-serif;
    font-size: 2.5rem;
    margin: 0;
  }

  &__view-more {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
