.m-button {
  display: inline-block;
  color: $titles;
  text-align: center;
  letter-spacing: 0.2px;
  line-height: 1;
  font-size: 1rem;
  font-weight: 600;
  border-radius: rem(5px);
  padding: rem(13px) rem(25px);
  cursor: pointer;
  outline: 0;
  border: 0;
  position: relative;
  background-color: transparent;
  @extend .no-appearance;
  @extend .focusable;
  @include transition(all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1));

  &.outlined {
    color: var(--titles-color);
    border: rem(1px) solid var(--primary-foreground-color);
  }

  &.filled,
  &.primary {
    @include bs(0 rem(2px) rem(4px) var(--button-shadow-color-normal));

    &:hover {
      @include transform(translateY(-2px));
      @include bs(0 rem(4px) rem(8px) var(--button-shadow-color-hover));
    }
  }

  &.filled {
    border-radius: rem(5px);
    background-color: $white;
  }

  &.block {
    display: block;
    width: 100%;
  }

  &.primary {
    color: $white;
    background-color: var(--primary-subtle-color);
  }

  &.loading {
    cursor: default;
    overflow: hidden;

    &:after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 25%;
      height: rem(2px);
      background-color: $white;
      @include animation("loading 1s infinite");
      @include keyframes(loading) {
        0% {
          @include transform(translatex(0));
        }
        50% {
          @include transform(translatex(300%));
        }
        100% {
          @include transform(translatex(0));
        }
      }
    }
  }
}

.m-clipboard-button {
  font-size: 0.6em;
  display: inline-block;
  border: 1px solid var(--primary-border-color);
  background-color: var(--transparent-background-color);
  border-radius: rem(4px);
  padding: 0 0.2rem;

  &:focus {
    box-shadow: none !important;
  }
}
