.l-post-content {
  .kg-callout {
    &-text {
      width: 100%;

      p {
        font-size: 0.95em;
        line-height: 1.5em;
        margin-bottom: 0;
      }
    }

    &-card:not(:first-of-type) {
      margin-top: 1.7rem !important;
    }
  }
}
